*, ::before, ::after {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 36px 54px;
    box-sizing: border-box;
}

.container::after {
    display: table;
    clear: both;
    content: '';
}

.box {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    margin-top: 18px;

    border: 1px solid #666666;
}

/* Desktop First for IE testing */

@media screen and ( max-width: 479px ) {
    .box { width: 100%; }
}

@media screen and ( max-width: 719px ) {
    .box { width: 50%; }
}

.box > div {
    position: relative;
}

.box > div span {
    position: absolute;
    top: 8px; left: 8px;

    color: #fff;

    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 20px;

    width: 20px;
    height: 20px;
}

.box > .aaa {
    background-color: #d8d8d8;
    height: 36px;
}

.box > .bbb {
    background-color: #b2b2b2;
    height: 18px;
}

.box > .ccc {
    background-color: #8c8c8c;
    height: 48px;
}

/* -- 1 -- */

.box.aa > .aaa {
    height: 72px;
}

.box.bb > .bbb {
    height: 18px;
}

.box.cc > .ccc {
    height: 36px;
}

/* -- 2 -- */

.box.aa > .aaa {
    height: 72px;
}

.box.bb > .bbb {
    height: 36px;
}

.box.cc > .ccc {
    height: 64px;
}
